<!DOCTYPE html>
<html>
<head>
    <title>Notes</title>
</head>
<body>
    <h1>Notes</h1>
    <ul>
        {% for note in notes %}
        <p>{{ note }}</p>
        <form action="{{ url_for('delete_note', note_id=loop.index0) }}" method="post">
            <input type="submit" value="Supprimer">
        </form>
    {% endfor %}
    
    </ul>
    <form method="POST">
        <label for="note">Ajouter une note :</label><br>
        <textarea name="note" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Ajouter">
    </form>
</body>
</html>